.categories_sidebar .l_w_title {
  margin-bottom: 10px;
}

.cart_cart a:before {
  all: initial;
}

.old-price {
  font-weight: normal;
  color: #aaa;
  font-size: medium;
}

#app .cartTotals {
  width: auto;
  font-weight: bold;
}

#app .calculate_shop_inner {
  padding: 10px;
  margin-bottom: 10px;
}

