
// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//@import '../css/font-awesome.min.css';
//@import '../vendors/line-icon/css/simple-line-icons.css';
//@import '../vendors/elegant-icon/style.css';
//@import '../css/bootstrap.min.css';
//
//@import '../vendors/revolution/css/settings.css';
//@import '../vendors/revolution/css/layers.css';
//@import '../vendors/revolution/css/navigation.css';
//
//@import '../vendors/owl-carousel/owl.carousel.min.css';
//@import '../vendors/bootstrap-selector/css/bootstrap-select.min.css';
//
//@import '../css/style.css';
//@import '../css/responsive.css';


.categories_sidebar {
    .l_w_title {
        margin-bottom: 10px;
    }
}

.cart_cart a:before {
    all: initial;
}

.old-price {
    font-weight: normal;
    color: #aaa;
    font-size: medium;
}

#app {
    .cartTotals {
        width: auto;
        font-weight: bold;
    }

    .calculate_shop_inner {
        padding: 10px;
        margin-bottom: 10px;
    }
}
